<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianlq.dubboprovider.mapper.UserMapper">
    <sql id="select">
        id id,
        name name,
        birth birth
    </sql>

    <sql id="table">
        user
    </sql>

    <insert id="insertUser" parameterType="com.qianlq.dubbocore.model.entity.UserEntity">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into
        <include refid="table"/>(id, name, birth)
        values (#{id}, #{name}, #{birth})
    </insert>

    <update id="updateUser" parameterType="com.qianlq.dubbocore.model.entity.UserEntity">
        update
        <include refid="table"/>
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="birth !=null and birth != ''">
                birth = #{birth},
            </if>
        </trim>
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
        </where>
    </update>

    <select id="findAll" resultType="com.qianlq.dubbocore.model.entity.UserEntity">
        select
        <include refid="select"/>
        from
        <include refid="table"/>
    </select>
</mapper>